<!-- ユーザーの詳細 -->

<div class="main container ">
  <div class="row">

<div class="col-md-3">

     <div class=userinfo>
       <h2>User info</h2>
 <% if @user == current_user %>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table class="table">
  <tbody>

  <tr>
	  <th>name</th>
	  <th><%= current_user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= current_user.introduction %></th>
  </tr>
</tbody>
</table>



  <div class="row">
     <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
    <% end %>
    </div>

    <% else %>

    <%= image_tag @user.get_profile_image(100,100) %>
  <table class="table">
  <tbody>

  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</tbody>
</table>



  <div class="row">
     <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
   <i class="fas fa-user-cog"></i>
    <% end %>
    </div>


<!--if @book.user == current_user %>の終了-->
<% end %>

<!--userinfoの終了タグ-->
     </div>


<div　class=newbook>
  <h2>New book</h2>
  <%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
</div>

<!--colの終了-->


<!--sidebar-->







<div class="col-md-8 offset-md-1">
  <!--ここから置き換え-->

  <h2>Books</h2>

  <table class="table table-hover table-inverse">
    <thred>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thred>

    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= link_to "/users/#{book.user.id}" do %>
        <%= image_tag book.user.get_profile_image(100,100) %>
        <% end %></td>
        <td>
         <p><%= link_to book.title, book_path(book.id) %></p>
          </td>
        <td>
        <p><%= book.body %></p>
          </td>
          <td>
            <% if book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(book), method: :delete do %>
         <i class="fa-solid fa-heart" style="color: #ec0941;"></i><%= book.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(book), method: :post do %>
        <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
      <% end %>
    </p>
  <% end %>
          </td>
          <td>
             <p><%=  "コメント数：#{book.book_comments.count} " %></p>
          </td>

      </tr>
       <% end %>
    </tbody>
  </table>


<!--ここまで置き換えcol8offset-->
</div>

<!--row-->
</div>
<!--main container-->
</div>



<!-- ユーザーの投稿一覧 -->





