<div class="main container ">
  <div class="row">

<div class="col-md-3">

     <div class=userinfo>
       <h2>User info</h2>
        <% if @book.user == current_user %>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table class="table">
  <tbody>

  <tr>
	  <th>name</th>
	  <th><%= current_user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= current_user.introduction %></th>
  </tr>
</tbody>
</table>



  <div class="row">
     <%= link_to edit_user_path(current_user) do %>
   <button><i class="fa-solid fa-user-gear"></i></button>
    <% end %>
    </div>

    <% else %>

    <%= image_tag @book.user.get_profile_image(100,100) %>
  <table class="table">
  <tbody>

  <tr>
	  <th>name</th>
	  <th><%= @book.user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @book.user.introduction %></th>
  </tr>
</tbody>
</table>



  <div class="row">
     <%= link_to user_path(current_user) do %>
   <button><i class="fa-solid fa-user-gear"></i></button>
    <% end %>
    </div>


<!--if @book.user == current_user %>の終了-->
<% end %>
<!--userinfoの終了タグ-->
     </div>


<div　class=newbook>
  <h2>New book</h2>
  <%= form_with model: @new_book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
</div>

<!--colの終了-->


<!--sidebar-->







<div class="col-md-8 offset-md-1">
  <!--ここから置き換え-->
  <h2>Book detail</h2>

  <table class=table>


    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@book.user) do %>
          <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= @book.user.name %>
          <% end %>
        </td>
         <td>
         <p><%= link_to @book.title, book_path(@book.id) %></p>
          </td>
           <td>
        <p><%= @book.body %></p>
          </td>
          <td><%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-success" %></td>
          <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, class: "btn btn-danger" ,"data-confirm" => "本当に削除しますか？" %></td>

      </tr>

    </tbody>
  </table>
<!--ここまで置き換え-->
</div>

<!--row-->
</div>
<!--main container-->
</div>


